:root {
    --m-green: #58fa5a;
    --m-blue: #000085;
    --black: #181818;
    --white: #fbfbfb;
    --s-green: #3f753a;
    --y-white: #e5dca4;
    --m-font: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

nav {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    float: left;
    display: flex;
    font-family: sans-serif;
    padding: 20px;
    font-size: 15px;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #000085;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

#login {
    background-color: #000085;
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    border: 0px;
    width: 10vh;
    height: 5vh;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-nav {
    width: 100%;
}

.logo-nav {
    margin-top: 1%;
    margin-left: 3%;
    width: 9.5vw;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2vw;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#foto {
    margin-left: 26%;
    margin-top: 3%;
    width: 50%;
}

#container {
    display: inline-block;
    position: relative;
}

#container figcaption {
    position: absolute;
    top: 90%;
    left: 27%;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: justify;
}

#problemas {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
}

#problemas2 {
    font-size: 20px;
    text-align: justify;
}

form {
    width: 60vw;
}

.primeiro {
    margin-top: 5%;
    width: 60vw;
}

input {
    font-size: 15px;
    border: #000085 solid 1px;
    border-radius: 5px;
    padding: 1.5vw;
    display: block;
    width: 25vw;
}

label {
    font-size: 20px;
    color: #000085;
}

.display {
    display: flex;
    justify-content: space-between;
}

.mensagem-box {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.mensagem {
    display: flex;
    flex-direction: column;
}

#mensagem {
    width: 58.5vw;
    height: 27vh;
    resize: none;
    padding-top: 1.5vh;
    padding-left: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    border: #000085 solid 1px;
    border-radius: 5px;
    display: block;
}

#politica {
    font-size: 20px;
    margin-top: 5vh;
    text-decoration:underline;
}

#form-btn{
    padding: 1.5vw;
    margin-top: 5%;
    background-color: #58fa5a;
    color: #ffffff;
    font-weight: bold;
    border: #ffffff solid 1px;
    border-radius: 5px;
    width: 60vw;
    margin-bottom: 15%;
}
#li{
    font-size: 10px;
}
.check{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: -0.5vw;
}
#subscribeNews{
    margin-left: 0%;
    width: 2vw;
}
#politica{
    font-size: 15px;
    margin-bottom: 1vh;
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) and (orientation: portrait){
    
}
