*{
   font-family: 'Segoe UI', sans-serif;; 

}

 body {
        background-image: url('../src/agricultor1.jpg');
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100vh;
    }
    
    /* .container {
            height: 75%;
            padding: 15px;
            padding-top: 20px;
            background-color: #f9f9f9;
            margin-left: 1200px;
            align-items: flex-end;
            justify-content: flex-end;
            display: flex;
            text-align: center;
        } */
    
     input[type="email"], [type="password"]{
            width: 95%;
            padding: 10px;
            padding-left: 10px !important;
            margin-bottom: 10px;
            border: 1px solid #b3b9b2d0;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
        }
     input[type="submit"]{
        background-color: #58fa5a;
        width: 100%;
        padding: 10px;
        border: transparent;
        color: #ffffff;
        font-size: large;
            
        }


    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px; /* Define uma largura máxima para o formulário */
        
    }
    
