/* 
input[type="email"]{
    width: 100%;
    padding: 8px;
    padding-left: 30px !important;
    margin-bottom: 10px;
    border: 6px solid #CD90FE;
    border-radius: 5px;
    background-color: #CD90FE;
    color: white;
} */

    body {
        background-image: url('../img/agricultor1.jpg');
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100vh;
    }
    
    .container {
        height: 75%;
        padding: 15px;
        padding-top: 20px;
        margin-left: 100px;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        text-align: center;
    }
    
    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        margin-left: auto;
    }
    
    