* {
    font-family: 'Segoe UI', sans-serif;
    /* margin: 0 auto; */
}

body {
    background-image: url('../src/agricultor1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Alterei para 100vh para preencher a tela verticalmente */
    margin: 0; /* Removi as margens para evitar espaços indesejados */
    display: flex;
    justify-content: flex-end; /* Agora os elementos serão alinhados à direita */
    align-items: center; /* Alinha os elementos verticalmente */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px; /* Reduzi a largura máxima do formulário para 300px */
    margin-right: 50px; /* Espaço à direita para afastar do lado direito */
    width: 500px;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b3b9b2d0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

input[type="submit"] {
    background-color: #58fa5a;
    width: 100%;
    padding: 10px;
    border: transparent;
    color: #ffffff;
    font-size: large;
}

.cadastre-se {
    color: #000085;
    text-decoration: none;
    font-weight: bold;
}

.esqueceur {
    color: #a39a9a;
    text-decoration: none;
    font-weight: bold;
}

.voltar {
    color: #000085;
    text-decoration: none;
    font-weight: bold;
}

.logologin {
    width: 350px;
    height: 180px;
    display: block; /* Transforma a imagem em um bloco para centralizar */
    margin: 0 auto; /* Define as margens automáticas para centralizar horizontalmente */
}

