:root {
    --m-green: #58fa5a;
    --m-blue: #000085;
    --black: #181818;
    --white: #fbfbfb;
    --s-green: #3f753a;
    --y-white: #e5dca4;
    --m-font: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

nav {
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1000;
}

.menu {
    list-style: none;
    float: left;
    display: flex;
    font-family: sans-serif;
    padding: 20px;
    font-size: 15px;
}

.menu li {
    position: relative;
    float: left;
    margin-right: 20px; /* Adicionando espaço entre os links */
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    position: relative;
    transition: transform 0.3s ease; /* Adicionando transição */
}

.menu li a:hover {
    color: #6d6d6d;
    text-shadow: 0px 0px 5px #fff;
    transform: translateY(-5px); /* Faz o link parecer subir */
}

.menu li ul {
    position: absolute;
    top: 30px; 
    left: 0;
    background-color: #fff;
    display: none;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.menu li:hover > ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}

.menu li ul li a {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.menu li ul li a:hover {
    background-color: #f0f0f0;
}

#login {
    background-color: #000085;
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    border: 0px;
    width: 10vh;
    height: 5vh;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-nav {
    width: 100%;
}

.logo-nav {
    margin-top: 1%;
    margin-left: 3%;
    width: 9.5vw;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2vw;
}

#sobrenos {
    font-size: 55px;
    color: #000085;
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 50px;
}

#imagem-exemplo {
    width: 35%;
    margin-top: 250px;
    margin-right: 5%;
    height: 40%;
}

.container {
    display: flex;
    margin-top: 5%;
}

#info {
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 35px;
    letter-spacing: 1px;
}

span#text {
    display: inline-block;
    font-size: inherit;
    color: #000085; /* Mantendo a cor consistente com o texto */
    margin-left: 35px;
    font-size: 20px;
}

#text {
    color: #000085;
    margin-bottom: 10px; /* Adicione uma margem inferior */
}

#info, #info2 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 0 35px; /* Remova a margem superior e adicione margens laterais */
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 45px; /* Adicione uma margem inferior para espaçamento consistente */
}

#text-integrante {
    font-size: 35px;
    text-align: center;
    color: #000085;
    margin-bottom: 60px;
}

#hr {
    size: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.integrantes {
    margin-top: 5%;
    margin-bottom: 70px;
}

.img-integrantes {
    display: flex;
    justify-content: space-around;
}

.teste-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teste-img img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.teste-img img:hover {
    transform: scale(1.1);
}

.descricao {
    text-align: center;
}

.nome {
    font-size: 25px;
    margin-top: 5px;
}

.funcao {
    font-size: 15px;
    margin-top: 5px;
}

footer {
    background-color: #848484;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

#footer-id {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

#logo-footer {
    width: 10%;
}

#icone {
    width: 2%;
    margin-top: 1%;
}

@media screen and (max-width: 768px) {
    .menu {
        padding: 10px;
    }

    .menu li {
        margin-right: 10px;
    }

    .menu li a {
        padding: 5px 8px;
    }

    .menu li ul {
        top: 40px;
    }
    
}
@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px) {
    #imagem-exemplo {
        display: none; /* Esconde a imagem em telas menores que 900px */
    }
    #sobrenos{
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .img-integrantes {
        flex-direction: column; /* Altera a direção do flexbox para coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .teste-img {
        margin-bottom: 20px; /* Adiciona espaço entre cada integrante */
    }

    .teste-img img {
        width: 30%; /* Define a largura das imagens para 40% da largura do contêiner */
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 10px;
    }

    .footer-content {
        margin-bottom: 10px;
    }
    
    .social-media {
        margin-top: 15px;
    }

    #logo-footer {
        width: 20%;
    }

    #icone {
        width: 25px;
    }
}
