:root {
    --m-green: #58fa5a;
    --m-blue: #000085;
    --black: #181818;
    --white: #fafafa;
    --s-green: #376633;
    --y-white: #e5dca4;
    --m-yellow: #ffc222;
    --m-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --s-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--s-font);
    font-size: 12px;

    background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(106, 252, 69, 1) 100%);
    background-size: 100% 100% cover;
    background-position: center;
    height: 100vh;

    animation: gradient 5s linear infinite alternate;
}

/* Header Style  */
.center {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
}

.hidden, .hidden-v {
    visibility: hidden;
}

.navbar.navbar.fixed-top {
    display: none;
}

nav.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    padding-top: 2vh;

    transition: .5s;
}

nav.scrolled {
    background-color: var(--white);
    padding: 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav-box {
    margin-top: 1%;
    margin-left: 3%;
    width: 9.5vw;
}

#logo-nav {
    width: 100%;
    opacity: 0;

    transition: .5s;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2vw;
}

.menu {
    list-style: none;
    float: left;
    display: flex;
    font-family: var(--s-font);
    font-weight: 600;
    padding: 20px;
    font-size: 15px;
}

.menu li {
    position: relative;
    float: left;
    margin-right: 20px;
    /* Adicionando espaço entre os links */
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    position: relative;
    transition: transform 0.3s ease;
    /* Adicionando transição */
}

.menu li a:hover {
    color: #6d6d6d;
    text-shadow: 0px 0px 5px #fff;
    transform: translateY(-5px);
    color: var(--s-green);
    /* Faz o link parecer subir */
}

.menu li ul {
    position: absolute;
    top: 30px;
    /* Ajuste a distância do submenu em relação ao item pai conforme necessário */
    left: 0;
    background-color: #fff;
    display: none;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.menu li:hover>ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}

.menu li ul li a {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.menu li ul li a:hover {
    background-color: #f0f0f0;
}

.login-btn {
    background-color: var(--m-yellow);

    font-size: 15px;
    font-weight: 600;
    font-family: var(--s-font);

    color: var(--white);

    border-radius: 5px;
    border: 0px;

    width: 9vw;
    height: 6vh;
}

.transitionScale.login-btn:hover {
    cursor: pointer;

    transform: scale(1.1);
}
/* DIV conteiner */

#img-sensor {
    width: 15%;
    margin-top: 5%;
    text-align: center;
    margin-left: 40%;

}

h1 {
    font-family: sans-serif;
    margin-top: 150px;
    text-align: center;
    color: #3f753a;
    font-size:55px;
}

.subtitulo{
    text-align: center;
    color: #376633;
    font-size:40px;
}
#hr2 {
    size: 10px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 30px;
    background-color: #0000;
  }
  
h3 {
    font-family: sans-serif;
    color: #3f753a;
    text-align: center;
}

.container {
    align-items: center;
}

.ume{
    display: flex;
}
.botao-form.transitionScale:active {
    background-color: var(--m-yellow);
    color: var(--white);
}

.botao-form.transitionScale:hover {
    background-color: var(--m-yellow);
    color: var(--white);
    border-color: transparent;
    transition: 1;
}

/* CSS atualizado */
#informação {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; /* Adicionado para dispor verticalmente o texto e o botão */
}

.botao-form {
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    background-color: transparent;
    color: var(--m-yellow);
    font-weight: bold;
    font-family: var(--s-font);
    font-size: 15px;
    border: var(--m-yellow) solid 2px;
    border-radius: 5px;
    margin-top: 10px; /* Adicionado para criar espaço entre o texto e o botão */
    margin-bottom: 10px;
}


/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
    margin-top: 100px;
}

.modal-content {
    background-color: #fff;
    margin: 4% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#img-modal {
    width: 50%;
    margin-left: 25%;
}



h4 {
    text-align: center;
    justify-content: center;
}

#alinhar {
    justify-content: center;
    text-align: justify;
    
}

p {
    justify-content: center;
}

h2 {
    text-align: center;
}

.solução {
    align-items: center;
    border: #333 solid 1px;
    border-radius: 15px;
    margin-inline: 60px;

    padding: 5px; /* Ajuste o espaçamento interno aqui */
}