:root {
  --m-green: #58fa5a;
  --m-blue: #000085;
  --black: #181818;
  --white: #fafafa;
  --s-green: #376633;
  --y-white: #e5dca4;
  --m-yellow: #ffc222;
  --m-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --s-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--s-font);
  font-size: 12px;
}

/* @import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap"); */
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-x: hidden;
  /* background-image: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 90%, rgba(106, 252, 69, 1) 100%); */
  background-size: 100% 100% cover;
  background-position: center;

  animation: gradient 5s linear infinite alternate;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

/* .container {
    margin: 5px;
    }
  
    .container {
    width: 100%;
  } */
/* Header Style  */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

nav {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  z-index: 1000;
}

input {
  margin-top: 25px;
  width: 80%;
  padding: 10px;
}

/* .animate-left, .animate-right, .animate-top, .animate-bottom {
    visibility: hidden;
  } */

.center {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
}

.hidden, .hidden-v {
  visibility: hidden;
}

.navbar.fixed-top {
  display: none;
}

nav.header {
  display: flex;
  justify-content: flex-end;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
  padding-top: 2vh;

  transition: .5s;
}

nav.scrolled {
  background-color: var(--white);
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #ffffff;
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
}

.menu-option {
  width: 100%;
  padding: 10px;
}

.menu-option a {
  text-decoration: none;
  color: #000000;
  font-family: var(--s-font);
  font-size: 18px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav-box {
  margin-top: 1%;
  margin-left: 3%;
  width: 9.5vw;
}

#logo-nav {
  width: 100%;
  opacity: 0;

  transition: .5s;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2vw;
}

.menu {
  list-style: none;
  float: left;
  display: flex;
  font-family: var(--s-font);
  font-weight: 600;
  padding: 20px;
  font-size: 15px;
}

.menu li {
  position: relative;
  float: left;
  margin-right: 20px;
  /* Adicionando espaço entre os links */
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  position: relative;
  transition: transform 0.3s ease;
  /* Adicionando transição */
}

.menu li a:hover {
  color: #6d6d6d;
  text-shadow: 0px 0px 5px #fff;
  transform: translateY(-5px);
  color: var(--s-green);
  /* Faz o link parecer subir */
}

.menu li ul {
  position: absolute;
  top: 30px;
  /* Ajuste a distância do submenu em relação ao item pai conforme necessário */
  left: 0;
  background-color: #fff;
  display: none;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.menu li:hover>ul {
  display: block;
}

.menu li ul li {
  display: block;
  width: 150px;
}

.menu li ul li a {
  color: #333;
  text-decoration: none;
  padding: 8px 15px;
  display: block;
}

.menu li ul li a:hover {
  background-color: #f0f0f0;
}

.menu-button {
  display: none;
}

.login-btn {
  background-color: var(--m-yellow);

  font-size: 15px;
  font-weight: 600;
  font-family: var(--s-font);

  color: var(--white);

  border-radius: 5px;
  border: 0px;

  width: 9vw;
  height: 6vh;
}

.transitionScale.login-btn:hover {
  cursor: pointer;

  transform: scale(1.1);
}

/* DIV conteiner */

#img-sensor {
  width: 30%;
  margin-top: 5%;
  text-align: center;
  margin-left: 40%;
}

h1 {
  font-family: var(--m-font);
  text-align: center;
  color: #3f753a;
  font-size: 55px;
  margin-top: 200px;
  opacity: 0;
  /* Inicialmente, esconde os elementos */
  animation: fadeIn 1s ease forwards;
  /* Aplica a animação */

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.titulo-container {
  text-align: center;
}

.separador-esquerda {
  display: inline-block;
  margin-right: 10px;
  /* Ajuste conforme necessário */
}

.separador-direita {
  display: inline-block;
  margin-left: 10px;
  /* Ajuste conforme necessário */
}


.subtitulo {
  text-align: center;
  color: #376633;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  /* Inicialmente, esconde os elementos */
  animation: fadeIn 1s ease forwards;
  /* Aplica a animação */

}

.tasteful-recipes {
  background-size: cover;
}

#hr2 {
  size: 10px;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #ffc222;
}

.between {
  min-height: 65vh;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Para garantir que ocupe toda a altura da seção */
}

.hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centraliza verticalmente */
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.5s;
  position: relative;
  /* Define o posicionamento relativo para o posicionamento absoluto do texto */
}

.hr-text {
  position: absolute;
  /* Define o posicionamento absoluto para posicionar o texto */
  top: 50%;
  /* Move o texto para o meio verticalmente */
  left: 50%;
  /* Move o texto para o meio horizontalmente */
  transform: translate(-50%, -50%);
  /* Centraliza o texto */
  background-color: white;
  /* Define a cor de fundo do texto */
  padding: 0 10px;
  /* Adiciona algum espaço ao redor do texto */

}



#hr2 {
  width: 100%;
  /* Certifica-se de que o hr ocupa toda a largura */
}



h3 {
  font-family: var(--m-font);
  color: #3f753a;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.ume {
  display: flex;
  /* Altere para flex */
  justify-content: center;
  /* Centralize horizontalmente */
}


.botao-form.transitionScale:active {
  background-color: var(--m-yellow);
  color: var(--white);
}

.botao-form.transitionScale:hover {
  background-color: var(--m-yellow);
  color: var(--white);
  border-color: transparent;
  transition: 1;
}

/* CSS atualizado */
#informação {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Adicionado para dispor verticalmente o texto e o botão */
}

.botao-form {
  width: 50%;
  padding: 10px;
  margin-top: 5%;
  background-color: transparent;
  color: var(--m-yellow);
  font-weight: bold;
  font-family: var(--s-font);
  font-size: 15px;
  border: var(--m-yellow) solid 2px;
  border-radius: 5px;
  margin-top: 10px;
  /* Adicionado para criar espaço entre o texto e o botão */
  margin-bottom: 10px;
}


/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
  margin-top: 140px;
}

.modal-content {
  background-color: #fff;
  margin: 4% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  max-width: 800px;
  /* Ajuste a largura máxima conforme necessário */
  display: flex;
  /* Alterado para flex para permitir layout em linha */
  justify-content: space-between;
  /* Espaçamento uniforme entre os elementos */

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#img-modal {
  width: 45%;

}

.titulo-modal {
  margin-top: 70px;
}


h4 {
  text-align: center;
  justify-content: center;
}

#alinhar {
  flex-grow: 1;
  /* Permite que o conteúdo cresça verticalmente */
  margin-left: 20px;
  /* Adiciona espaço entre a imagem e o texto */

}

p {
  text-align: justify;
  justify-content: center;
  margin-top: 5px;
  margin: 10px;

}

.descricao-modal {
  margin-top: 30px;
}

.valor-modal {
  margin-top: 40px;
}

h2 {
  text-align: center;
}

.solução h3 {
  font-size: 20px;
}

.solução {
  align-items: center;
  border: #ffffff solid 1px;
  border-radius: 15px;
  margin-inline: 60px;
  width: 230px;
  background-color: #F8F8FF;
  padding: 5px;
  /* Ajuste o espaçamento interno aqui */
  justify-content: center;

}

/* f */
footer {
  display: flex;
  justify-content: center;
  background: rgb(55, 102, 51);
  background: linear-gradient(135deg, rgba(55, 102, 51, 1) 0%, rgba(63, 117, 58, 1) 35%, rgba(53, 153, 43, 1) 100%);
  width: 100%;
  height: 90vh;
}

.f-container {
  width: 90%;
  padding: 0 1vw;
}

.f-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 0 3vh 0;
  margin: 0 1vw;
  gap: 4vh;
  height: 83.5%;
}

.f-element {
  width: 100%;
}

.f-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.f-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  padding: 1em
}

#f-logo {
  width: 15vw;
  height: 12vh;
  object-fit: cover;
  object-position: center;
}

.f-wrap {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center;
  gap: 1vw;
}

.f-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.3em 0;
  width: 70%;
  border-radius: 8px;
  background-color: var(--s-green);
}

.wrap-icon {
  width: 2.5em;
}

.wrap-text {
  color: var(--white);
  font-family: var(--s-font);
  font-size: 1.2em;
  width: 15vw;
}

#f-form {
  color: var(--white);
  font-size: 20px;
  padding-top: 30px;
}

.frm-input {
  width: 90%;
  height: 28px;
  border-radius: 15px;
  border-color: transparent;
  font-family: var(--s-font);
}

.f-divisor {
  background-color: var(--white);
  width: 100%;
  height: 2px;
  margin-bottom: 6vh;
}

.botao-form {
  width: 82%;
  padding: 10px;
  margin-top: 5%;
  background-color: transparent;
  color: var(--m-yellow);
  font-weight: bold;
  font-family: var(--s-font);
  border: var(--m-yellow) solid 2px;
  border-radius: 5px;
}

.transitionScale {
  transition: 1s;
}

.botao-form.transitionScale:hover {
  background-color: var(--m-yellow);
  color: var(--white);
  border-color: transparent;
  scale: 1.1;
}

@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
    width: auto;
  }

  .login-btn {
    width: 18vw;
}
}