:root{
    --m-green: #58fa5a;
    --m-blue: #000085;
    --black: #181818;
    --white: #fbfbfb;
    --s-green: #3f753a;
    --y-white: #e5dca4;
    --m-font: 'Segoe UI', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
#teste-fundo{
    width: 2300px;
    height: 800px;
}

.menu {
    list-style: none;
    float: left;
    display: flex;
    font-family: sans-serif;
    padding: 25px;
    font-size: 15px;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #000085;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}
.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }

#login{
    background-color: #000085;
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 5px;
    color: #ffffff;
    border: 0px;
}

.info{
    display: flex;
    align-items: center;
}
#logo-nav{
    width: 15%;
}

.logo-nav{
    margin-top: 1%;
    margin-left: 7%;
}

.splide__track {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#container {
    display: inline-block;
    position: relative;
    margin-top: 0%;
  }
  
  #container figcaption {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 35px;
    color: black;
    border: solid #c0c0c0;
    background-color: #fbfbfb;
    width: 20%;
    height: 90%;
    text-align: center;
  }
#guia-agricultor{
    margin-top: 8%;
    text-align: left;
    margin-left: 6%;
    font-size: 30px;
    color: #000085;
}
#descrição{
    margin-top: 8%;
    text-align: justify;
    margin-right: 5%;
    margin-left: 6%;
    font-size: 28px;
}
#informa{
    margin-top: 6%;
}